@import "tailwindcss";

@theme {
    /*  */
    --radius-weather: 5rem;
    /*  */
    --color-weather-start: #4cc9ff;
    --color-weather-mid: #2e9bff;
    --color-weather-end: #0088ff;
    /*  */
    --animate-Rotate: Rotate 2s infinite linear;
    @keyframes Rotate {
        0% {
            transform: translateY(4px);
        }

        50% {
            transform: translateY(-4px);
        }

        100% {
            transform: translateY(4px);
        }
    }
    /*  */
}
