@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

 

@theme {
    /*  */
    --radius-weather: 5rem;
    /*  */
    --color-weather-start: #4cc9ff;
    --color-weather-mid: #2e9bff;
    --color-weather-end: #0088ff;
    /*  */
    --animate-WeatherSnow: WeatherSnow 2s infinite linear;
    @keyframes WeatherSnow {
        0% {
            transform: translateY(4px);
        }

        50% {
            transform: translateY(-4px);
        }

        100% {
            transform: translateY(4px);
        }
    }
    /*  */
}
